<head>
  <title>{{ page.title }}</title>
  <meta charset='utf-8'>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#3280d2">
  <meta name="msapplication-navbutton-color" content="#3280d2">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ base }}/css/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ base }}/css/code_highlight.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ base }}/css/print.css" media="print">
</head>
