<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Architects+Daughter">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print">
</head>

<body>
<div class="site">
    <header>
        <div class="inner">
        Header
        </div>
    </header>

    <div id="content-wrapper">
    <div class="inner clearfix">
    <section id="main-content">

    {{ content }}

    </section>
    </div>
    </div>

    <div class="footer">
    Footer
    </div>
</div>

</body>
</html>
